.container{
	margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
    margin-top: 200px;
    border: 8px red solid;
    background-color: #fff;
}

.btn
{
	background-color: black;
color:#fffF;
}
